<div class="container mt-5">
  <div class="total-amount">total:{{totalAmount}}</div>
  <table class="table table-striped table-hover">
    {{#each records}}
    <tr>
      <td>{{{ this.categoryIcon }}}</td>
      <td>
        <div class="index-name">{{ this.name }}</div>
        <small class="index-date">{{ this.date }}</small>
      </td>
      <td>{{this.amount}}</td>
      <td>
        <form action="/records/edit/{{this._id}}" method="GET">
          <button type="submit" class="index-edit">修改</button>
        </form>
        <form action="/records/delete/{{this._id}}" method="POST">
          <button type="submit" class="index-delete">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <div class="index-new">
    <form action="/records/new" method="GET">
      <button type="submit">Create</button>
    </form>
  </div>
</div>

{{!-- <script>
     if (confirm("are you sure")) {
        alert("i am sure");
      } else {
        alert("i regret");
      }
</script> --}}